@model IEnumerable<Book>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Book Shop App</h1>
    <div class="row p-1">
        <div class="col font-weight-bold">Title</div>
        <div class="col font-weight-bold">Price</div>
        <div class="col font-weight-bold">Published On</div>
    </div>
    @foreach (Book item in Model)
    {
        <div class="row p-1">
            <div class="col">@item.Title</div>
            <div class="col">@item.Price</div>
            <div class="col">@item.PublishedOn</div>
        </div>
    }
</div>
